<div *ngIf='movie' class='container'>
  <div class='row'>
    <div class='col-4'>
      <img [src]='movie.thumbnail' class='img-fluid'>
    </div>
    <div class='col-8'>
      <div class='row'>
        <h2>{{movie.title}} <small>({{movie.year}})</small></h2>
        <div>{{movie.abstract}}</div>
        <button *ngIf='!!showDelete; else add' class='btn btn-danger my-3'
                (click)='deleteFavourite()'>Delete from favourites!
        </button>
        <ng-template #add>
          <button class='btn btn-warning my-3'
                  (click)='addToFavourites()'>Add to favourites!
          </button>
        </ng-template>
      </div>
    </div>
  </div>

</div>
